@model Marketplace.Domain.Entities.Pedido

@{
    ViewData["Title"] = "Crear Pedido";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <form method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="Fecha" class="form-label">Fecha del pedido</label>
            <input type="date" class="form-control" id="Fecha" name="Fecha" required />
            <div class="invalid-feedback">
                Por favor ingresa la fecha
            </div>
        </div>
        <div class="mb-3">
            <label for="Estado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="Estado" name="Estado" required />
            <div class="invalid-feedback">
                Por favor seleccione el estado del pedido.
            </div>
        </div><div class="mb-3">
            <label for="UsusarioId" class="form-label">UsusarioId</label>
            <input type="number" class="form-control" id="UsusarioId" name="UsusarioId" required />
            <div class="invalid-feedback">
                Por favor seleccione el UsusarioId
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
</div>
