@model Marketplace.Domain.Entities.Producto

@{
    ViewData["Title"] = "Crear Producto";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <form method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" required />
            <div class="invalid-feedback">
                Por favor ingresa el nombre del producto.
            </div>
        </div>
        <div class="mb-3">
            <label for="Precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="Precio" name="Precio" required />
            <div class="invalid-feedback">
                Por favor ingresa el precio del producto.
            </div>
        </div><div class="mb-3">
            <label for="Stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="Stock" name="Stock" required />
            <div class="invalid-feedback">
                Por favor ingresa el Stock del producto.
            </div>
        </div>
      

        <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
</div>
